<mat-grid-list cols="2" rowHeight="370px" gutterSize="50px">
  <mat-grid-tile>
    <mat-grid-tile-header style="background-color: white; color: black; font-weight: bold;">Visão Domicilio Iti</mat-grid-tile-header>
    <mat-list role="list">
      <mat-list-item class="mat-list-item-custom" role="listitem">
        <mat-icon [ngStyle]="{'color':'red'}">lens</mat-icon>
        <span class="texto-icone">120 pagamentos atrasados (R$ 1500.00)</span>
      </mat-list-item>
      <mat-list-item class="mat-list-item-custom" role="listitem">
        <mat-icon [ngStyle]="{'color':'yellow'}">lens</mat-icon>
        <span class="texto-icone">40 pagamentos em andamento (R$ 4000.00)</span>
      </mat-list-item>
      <mat-list-item class="mat-list-item-custom" role="listitem">
        <mat-icon [ngStyle]="{'color':'green'}">lens</mat-icon>
        <span class="texto-icone">500 pagamentos efetivados (R$ 5000.00)</span>
      </mat-list-item>
    </mat-list>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-grid-tile-header style="background-color: white; color: black; font-weight: bold;">Visão Domicilio Itáu</mat-grid-tile-header>
    <mat-list role="list">
      <mat-list-item class="mat-list-item-custom" role="listitem">
        <mat-icon [ngStyle]="{'color':'red'}">lens</mat-icon>
        <span class="texto-icone">10 pagamentos atrasados (R$ 130.00)</span>
      </mat-list-item>
      <mat-list-item class="mat-list-item-custom" role="listitem">
        <mat-icon [ngStyle]="{'color':'yellow'}">lens</mat-icon>
        <span class="texto-icone">33 pagamentos em andamento (R$ 540.00)</span>
      </mat-list-item>
      <mat-list-item class="mat-list-item-custom" role="listitem">
        <mat-icon [ngStyle]="{'color':'green'}">lens</mat-icon>
        <span class="texto-icone">55432 pagamentos efetivados (R$ 334.550,00)</span>
      </mat-list-item>
    </mat-list>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-grid-tile-header style="background-color: white; color: black; font-weight: bold;">Analítico de pagamentos atrasados</mat-grid-tile-header>
    <mat-list role="list">
      <mat-list-item role="listitem">
        <span class="texto-normal">200212334 - 30/11/21 09:35 - R$ 1400.00</span>
      </mat-list-item>
      <mat-list-item role="listitem">
        <span class="texto-normal">200212322 - 30/11/21 14:25 - R$ 1230.00</span>
      </mat-list-item>
    </mat-list>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-grid-tile-header style="background-color: white; color: black; font-weight: bold;">Analítico de pagamentos atrasados</mat-grid-tile-header>
    <mat-list role="list">
      <mat-list-item role="listitem">
        <span class="texto-normal">200212199 - 30/11/21 07:30 - R$ 1450.00</span>
      </mat-list-item>
      <mat-list-item role="listitem">
        <span class="texto-normal">200212322 - 30/11/21 12:00 - R$ 200.00</span>
      </mat-list-item>
    </mat-list>
  </mat-grid-tile>
</mat-grid-list>